html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}
.fighter-details {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 2em;
    font-family: sans-serif;
    line-height: 2em;
    background-color: rgba(0, 0, 0, 0);

}

.fighter-details-form {
    padding: 40px;
    background-color: white;
    position: relative;
    box-shadow: 0px 0px 17px 16px #58a6d6;
}

.form-button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 21px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  margin: 10px;
  text-decoration: none;
}

.form-button:hover {
  background: #58a6d6;
  text-decoration: none;
}

.fighter-name{
    font-weight: bold;
    color:#3498db;
}

.attr-input{
  padding: 5px 10px;
  margin: 10px;
  border: 2px solid #b7b7b7;
  border-radius: 10px;
  font: normal 20px/normal "Times New Roman", Times, serif;
  color: rgba(0,142,198,1);
}

#submit-btn{
    visibility: hidden;
}